OPENAI_MODEL=qwen3.5-27b
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=

SUBAGENT_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SUBAGENT_MODEL=qwen3.5-27b
SUBAGENT_API_KEY=

A2A_AGENT_URLS=http://localhost:10002,http://localhost:10003
